<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.redjen.yanolja.mapper.MemberMapper">
    <select id="searchMemberByIdx" resultType="com.redjen.yanolja.model.Member">
        SELECT * FROM member WHERE memberIdx = #{memberIdx}
    </select>

    <select id="searchMemberByEmail" resultType="com.redjen.yanolja.model.Member">
        SELECT * FROM member WHERE email = #{email}
    </select>

    <insert id="signupMember">
        INSERT INTO member (email, password, phoneNumber, point, memberNick, memberStatus, memberImageUrl, createdAt, activatedAt)
        VALUES (#{email}, #{password}, null, 0, null, 'active', null, now(), now())
    </insert>

    <delete id="quitMemberByIdx">
        UPDATE member SET member.memberStatus = 'inactive' WHERE memberIdx = #{memberIdx}
    </delete>

    <update id="updateMember" parameterType="com.redjen.yanolja.model.Member">
        UPDATE member
        SET
        <if test="phoneNumber != null">
            phoneNumber = #{phoneNumber},
        </if>
        <if test="memberImageUrl != null">
            memberImageUrl = #{memberImageUrl},
        </if>
        <if test="memberNick != null">
            memberNick = #{memberNick},
        </if>
            memberStatus = 'active'
        WHERE member.memberIdx = #{memberIdx}
    </update>

    <insert id="makeLikeToCompany">
        INSERT INTO likelist (companyIdx, memberIdx)
        VALUES (#{companyIdx}, #{memberIdx})
    </insert>

    <delete id="cancelLikeToCompany">
        DELETE FROM likelist WHERE companyIdx = #{companyIdx} AND memberIdx = #{memberIdx}
    </delete>

    <select id="checkAlreadyLikedCompany" resultType="int">
        SELECT EXISTS
            (
            SELECT * FROM likelist
            WHERE companyIdx = #{companyIdx} AND memberIdx = #{memberIdx} limit 1
            )
    </select>
</mapper>