<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.redjen.yanolja.mapper.MemberMapper">
    <select id="searchMemberByIdx" resultType="com.redjen.yanolja.model.Member">
        SELECT * FROM member WHERE memberIdx = #{memberIdx}
    </select>

    <delete id="quitMemberByIdx">
        UPDATE member SET member.memberStatus = 'inactive' WHERE memberIdx = #{memberIdx}
    </delete>
</mapper>